#left-panel {
	background-color: #b7d4e2; /* light-blue */
}

/* HEADER styles */
.navbar .navbar-brand img {
	max-width: 190px;
}

nav.navbar,
.navbar .navbar-nav li.menu-item-has-children .sub-menu {
	background-color: #b7d4e2;
}

nav.navbar,
.navbar .menu-title,
.navbar .navbar-nav li > a,
.navbar .navbar-nav li > a .menu-icon,
#main-menu .navbar-nav li > a .menu-icon,
.navbar .navbar-nav li.menu-item-has-children .sub-menu i {
	color: #000 !important;
}

#menuToggle {
	background-color: #fdc54e; /* Lanterman yellow */
	color: #000 !important;
	font-size: 1.9em !important;
}

#header .count {
	background-color: #fdc54e !important;
	color: #000 !important;
}

/* CONTENT body styles */
.navbar .navbar-nav li.menu-item-no-children.show a:before {
	content: none;
}

